@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap');

* {
    font-family: 'Noto Sans TC', sans-serif;
}

body {
    overflow-x: hidden;
    line-height: 32px;
}

body::-webkit-scrollbar {
    background-color: #d7d7d7;
    width: 10px;
    /* 修改滾動條的寬度 */
}

body::-webkit-scrollbar-thumb {
    background-color: #afafaf;
    /* 修改滾動條的顏色 */
    border-radius: 6px;
    /* 修改滾動條的圓角半徑 */
}

.gap {
    background-color: #F5F5F5;
    height: 15px;
}
.logo-container {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
    z-index: 3;
}

/* 輪播卡片 */
.slideContainer {
    position: absolute;
    top: 62%;
    right: 2%;
    justify-content: flex-end;
    z-index: 5;

}

.slideCard {
    position: relative;
    width: 120px;
    height: 120px;
    border-radius: 16px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid white
}

.shopSelected {
    color: #ffffff;
    text-align: end;
    padding-right: 2%;
    padding-bottom: 2%;
    font-weight: 500;
}

.slideCard:hover {
    cursor: pointer;
    transform: translateY(5px);
    box-shadow: inset 0px 10px 20px 2px rgba(255, 255, 255, 0.45);
}

.carousel-indicators {
    position: absolute;
    bottom: 2%;
    right: 2%;
    left: auto;
    width: auto;
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
}

.card-img {
    object-fit: cover;
    border-radius: 16px;
    height: 100%;
}

@media (max-width: 768px) {
    .slideContainer {
        top: 60%;
        right: 10%;
    }
}

/* ---------- Banner  ---------- */
.carousel-item img {
    height: 100vh;
    width: 100%;
    object-fit: cover;
}
.bannerTitle {
    position: absolute;
    top: 20%;
    left:1%;
    text-align: left;
    padding-left: 3%;
    padding-right: 3%;
    width: 38%;
    height: fit-content;
    border-radius:20px;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    box-shadow: 0px 0px 5px rgb(121, 121, 121, 0.2);
}

.bannerTitle h2 {
    width: 100%;
    font-size: 4rem;
    line-height: 5.2rem;
    color: white;   
    /* color: #F89E02;    */
}

.bannerTitle p {
    width: 100%;
    font-weight: 300;
    font-size: 1.2rem;
    line-height: 2.4rem;
    margin-top: 30px;
    text-shadow: 0 0 4px rgb(96, 96, 96);
}
.carousel-control-next{
    padding-left: 6%;
}

@media (max-width:1475px) {
    .bannerTitle {
        font-size: 3.8rem;
    }

}
@media (max-width: 991px) {
    .bannerTitle {
       display: none;
    }

}