

<% shop.forEach(function(shopItem, index) { %>
    <div class="card col-12 col-md-3 mb-5" style="width: 18rem;">
      <a href=<%= `/restaurant/${shopItem.shop_id}` %> >  
      <i class=" <%-  (shopComment.includes(shopItem.shop_id))? 'bi bi-suit-heart-fill' : 'bi bi-suit-heart' %> stor_heart"></i> 
      <img src="../<%= shopItem.shop_preview_img %>" class="card-img-top">
      <div class="card-body">
        <p class="card-text">
          <%= shopItem.shop_name %>
        </p>
       <p class="rating pt-2 "><i class="bi bi-star-fill pe-2 ">  </i>4.2/5<span>(100+) </span></p>
      </div>
      </a>
    </div>
  <% }); %>
