<!-- Footer-->
<div class="container footer">
    <footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5 my-5 ">
        <div class="col mb-3">
            <a href="/" class="d-flex align-items-center mb-3 link-dark text-decoration-none">
                <img src="./pic/LOGO.png" style="width: 120px;" alt="">
            </a>
            <p class="text-muted">&copy; 2023</p>
        </div>

        <div class="col mb-3">

        </div>

        <div class="col mb-3">
            <h6>西區</h6>
            <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">中式料理</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">速食</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">消夜</a></li>

            </ul>
            <h6 class="mt-3">中區</h6>
            <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">韓式料理</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">日式料理</a></li>
            </ul>
        </div>

        <div class="col mb-3">
            <h6>南區</h6>
            <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">火鍋</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">下午茶</a></li>
            </ul>
            <h6 class="mt-3">東區</h6>
            <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">健康餐盒</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">飲料</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">美式料理</a></li>
            </ul>
        </div>

        <div class="col mb-3">
            <h6>北區</h6>
            <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">泰式料理</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">印度料理</a></li>
            </ul>
            <h6 class="mt-3">西屯區</h6>
            <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">甜品</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">麵包</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">燒烤</a></li>
            </ul>
        </div>
    </footer>
</div>
